 @font-face 
    {
        font-family: 'Darkh4';
        src: local('Darkh4'), url(../../Fonts/Darkh4.ttf) format ('truetype');
        src: url(../../Fonts/Darkh4.eot);
    }
    @font-face {
        font-family: 'BleedingCowboys';
        src: local('BleendingCowboys'), url(../../Fonts/BleedingCowboys.ttf) format('truetype') ;
        src: url(../../Fonts/BleedingCowboys.eot);
    }
    @font-face {
        font-family: 'Fancy';
        src: url(../../Fonts/FortalesiaScript_PERSONAL_USE_ONLY.otf);
    }
    body 
    {   background-color: #FAFDD5;
        color: #B13E41;
        font-size: 100%;
        font-family:Arial, Helvetica, sans-serif;
        width: 900px
    }
    header
    {
        width: 900px;
        background-color: #657A98;
        border: dashed #B13E41;
        padding: 10px 
    }
    img{
        padding-left: 25px;
        padding-right: 25px;
    }
    h1 
    {
        font-family:'Fancy';
        font-size: 250%;
    }
    h2 
    {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    a:link {color:#4A6488;}
    a:visited {color:#B13E41;}
    a:hover {color: #CC6769;}
    a:active {color: #CC6769;}
    .thumbnailleft { float: left; padding-right: 10px;}
	.thumbnailright { float: right; padding-left: 10px;}
    table 
    { border:none; 
      width: 100%; 
      padding-left: 20%; 
      padding-right: 20%;
    }
    td 
    { border: 1px solid gray; 
      color: #657A98
    }
    th 
    { border: 1px solid; 
      color:#304D75; 
      font-size: large; 
      background-color: #A9b03e;
      
    }
    caption 
    { padding-right: 20px; 
      color:#304D75; 
      font-size: xx-large; 
      font-family: 'Fancy'; 
    }
    @font-face 
    {
        font-family: 'Darkh4';
        src: local('Darkh4'), url(../../Fonts/Darkh4.ttf) format ('truetype');
        src: url(../../Fonts/Darkh4.eot);
    }
    @font-face {
        font-family: 'BleedingCowboys';
        src: local('BleendingCowboys'), url(../../Fonts/BleedingCowboys.ttf) format('truetype') ;
        src: url(../../Fonts/BleedingCowboys.eot);
    }
    @font-face {
        font-family: 'Fancy';
        src: url(../../Fonts/FortalesiaScript_PERSONAL_USE_ONLY.otf);
    }
    body 
    {   background-color: #FAFDD5;
        color: #B13E41;
        font-size: 100%;
        font-family:Arial, Helvetica, sans-serif
    }
    h1 
    {
        font-family:'Fancy';
        font-size: 250%;
    }
    h2 
    {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    a:link {color:#4A6488;}
    a:visited {color:#B13E41;}
    a:hover {color: #CC6769;}
    a:active {color: #CC6769;}
    .thumbnailleft { float: left; padding-right: 10px;}
	.thumbnailright { float: right; padding-left: 10px;}
    table 
    { border:none; 
      width: 100%; 
      padding-left: 20%; 
      padding-right: 20%;
    }
    td 
    { border: 1px solid gray; 
      color: #657A98
    }
    th 
    { border: 1px solid; 
      color:#304D75; 
      font-size: large; 
      background-color: #A9b03e;
      
    }
    caption 
    { padding-right: 20px; 
      color:#304D75; 
      font-size: xx-large; 
      font-family: 'Fancy'; 
    }